PORT=8000
NODE_ENV=development

JWT_SECRET=

AUTH_SERVICE_URL=http://localhost:8001
MENU_SERVICE_URL=http://localhost:8002
ORDER_SERVICE_URL=http://localhost:8003
KITCHEN_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005