INTERNAL_SECRET=
JWT_SECRET=
JWT_TTL=60

MYSQL_ROOT_PASSWORD=
MYSQL_GATEWAY_DB=tapandchew_gateway
MYSQL_KITCHEN_DB=tapandchew_kitchen

POSTGRES_DB=tapandchew_menu
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=

MS_MENU_URL=http://menu:8002
MS_ORDER_URL=http://order:8003
MS_KITCHEN_URL=http://kitchen:8004
MS_PAYMENT_URL=http://payment:8005
MS_NOTIFICATIONS_URL=http://notifications:8006

APP_KEY=
APP_ENV=production
APP_DEBUG=false