FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tapandchew_kitchen
DB_USER=root
DB_PASSWORD=

ORDER_SERVICE_URL=http://127.0.0.1:8003
INTERNAL_SECRET=

PORT=8004