FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tapandchew_kitchen
DB_USER=root
DB_PASSWORD=

FIREBASE_DATABASE_URL=
FIREBASE_CREDENTIALS_PATH=app/config/firebase-credentials.json

PORT=8004